%h1= yield(:meta_title).strip
- if !@event_category.description.blank?
  = @event_category.description
- unless @events.total_pages == 1
  = will_paginate @events

- @events.group_by { |e| [e.date_and_time.year, e.date_and_time.month] }.each do |year_and_month, events|
  %h2.event_month== #{month_name(year_and_month.last)} #{year_and_month.first}
  %ul.events
    - for event in events
      %li[event]
        %div.event_date
          %span.month== #{event.date_and_time.in_time_zone("Pacific Time (US & Canada)").strftime('%b')}
          %span.date== #{event.date_and_time.in_time_zone("Pacific Time (US & Canada)").strftime('%d')}
          %span.day== #{event.date_and_time.in_time_zone("Pacific Time (US & Canada)").strftime('%a')}
        .event_description
          %h3
            = link_to h(event.name), event
            / - if event.today? # before midnight
            /   %span.event_tag.event_tag_soon today!
            / - elsif event.tomorrow?
            /   %span.event_tag.event_tag_soon tomorrow
            / - elsif event.this_week?
            /   %span.event_tag.event_tag_this_week this week
          - if @cms_config['features']['event_registration']
            - if event.registration? and event.date_and_time >= Date.tomorrow.to_time
              -# if event.registration_spots?
              -#%span.event_tag.event_tag_open registration open
              -#- else
              -#%span.event_tag.event_tag_full registration full
          - if !event.images.empty?
            - image = event.images.first
            - if event.importance == "Medium"
              %div{:class => "images float-right"}
                = link_to(tag(:img, :src => image.thumbnail, :alt => image.image_title, :title => image.image_title), image.image.url, :title => image.image_title, :class => "fancy")
                - unless image.caption.blank?
                  .image-caption= image.caption
            - elsif event.importance == "Large"
              .large-image{:id => "image_#{image.id}"}
                = tag(:img, :src => "#{image.image(:slide)}", :class => "large_image", :alt => image.image_title, :title => image.image_title)
                - if !image.caption.blank?
                  %span.caption= image.caption
          .event_blurb= simple_format(event.blurb.strip)
          .event_clear
  = clear
- unless @events.total_pages == 1
  = will_paginate @events