- content_for :head do
  = javascript_include_tag "/plugin_assets/siteninja_events/javascripts/admin_events_form.js"
= error_messages_for "event"
-if @controller.action_name == 'edit'
  %p
    = icon "Plus", new_admin_event_event_price_option_path(@event)
    = link_to "Add a new price option for this event", new_admin_event_event_price_option_path(@event)
%table{ :cellspacing => "0" }
  %tr{ :class => "form-option #{cycle('even', 'odd')}" }
    %td.big
      = f.label :name
    %td
      = f.text_field :name, :class => "big", :size => 30
  %tr{:class => "form-option #{cycle('even', 'odd')}"}
    %td
      = f.label :address
    %td
      = f.text_field :address
      %span.small
        \&mdash; this will be shown on the page and used to display a map (
        %strong
          optional
        )
  -if !@event_categories.blank?
    %tr{:class => "form-option #{cycle('even', 'odd')}"}
      %td
        Category
      %td
        - for event_category in @event_categories
          %span.event_category_checkbox
            = check_box_tag "event[event_category_ids][]", event_category.id, @event.event_categories.include?(event_category), :id => dom_id(event_category)
            = label_tag dom_id(event_category), "#{event_category.title}"
        = clear
  %tr{:class => "form-option #{cycle('even', 'odd')} top"}
    %td
      = f.label :date_and_time, "Event Start date/time"
    %td
      = f.datetime_select :date_and_time
  %tr.top
    %td
      = f.label :end_date_and_time, "Event End date/time"
    %td
      = f.datetime_select :end_date_and_time
- if @cms_config['features']['event_registration']
  %h2
    Registration Options
  %div
    %div#registration-ops
      = f.check_box :registration
      %label{ :for => "event_registration" }
        Registration Required
    %div.registration-options
      #registration_limit
        %br
        %div
          = f.label :registration_limit, "Registration Limit"
          = f.text_field :registration_limit, :size => 4
          %span guests
          %span.small.gray
            \&mdash; optional
        %br
        %div
          = f.label :registration_deadline, "Deadline to register"
          = f.datetime_select :registration_deadline        
        %br
        %div
          =f.label :registration_closed_text, "Message to display when registration is full or past the deadline and now closed:"
        %div
          = f.text_area :registration_closed_text, :size => "60x4", :class => "mceEditor"
      #price
        -fields_for :event_price_options do |p|
          =p.label :price, "Price"
          =p.text_field :price
          =p.hidden_field :title, :value =>"Standard"
          %span.note Leave blank if event is free
          %br
          =p.label :public, "Show this price to the public?"
          =p.check_box :public, :checked => "checked"
      #payments-allowed
        %h3
          Accepted Payments
        %div
          = f.check_box :allow_card
          %label{ :for => "event_allow_card" }
            Allow credit card payment via Google Checkout
          %span.small.gray
            \&mdash; must have Google Checkout configured in
            = link_to "settings ", edit_admin_setting_path
            under the 'Advanced' tab
        %div
          = f.check_box :allow_cash
          %label{ :for => "event_allow_cash" }
            Allow cash payment
          %span.small.gray
            \&mdash; only if registration is required
        %div.checks
          = f.check_box :allow_check
          %label{ :for => "event_allow_check" }
            Allow check payment
          %span.small.gray
            \&mdash; only if registration is required
        %div
          = f.check_box :allow_other
          %label{ :for => "event_allow_other" }
            Allow other
          %span.small.gray
            \&mdash; Use this option for any other payment types
        #check-payment-options          
          %h3= f.label :check_instructions, "Check Instructions"
          = f.text_area :check_instructions, :size => "60x8", :class => "mceEditor"
          %p
            ==Let registrants know any pertinent information relating to payment for the #{@cms_config['site_settings']['event_title']}.
        /check-payment-options
      /payments-allowed
%h2= f.label :blurb, "Blurb"
= f.text_area :blurb, :size => "80x5"
%h2= f.label :description, "Description"
- unless @event.images.empty?
  = render :partial => "admin/shared/image_options", :locals => {:images => @event.images}
= f.text_area :description, :size => "80x30", :class => "mceEditor"
- fancy_submit admin_events_path do
  = f.submit "Save #{@cms_config['site_settings']['event_title']}"

