.form-option
  %div
    = f.label :description
  %div
    = f.text_field :description
.form-option
  %div
    = f.label :price
  %div
    $
    = f.text_field :price, :size => 10, :maxlength => 8
    %span.small.gray
      enter zero if free
%p
  = f.submit "Save Price Option"
  or
  = link_to "cancel", admin_event_event_prices_path(@event)
