.event-date-time
  - if @event.repeat
    - weeks = []
    - if @event.week_1 || @event.week_2 || @event.week_3 || @event.week_4 || @event.week_5
      - weeks << "First" if @event.week_1
      - weeks << "Second" if @event.week_2
      - weeks << "Third" if @event.week_3
      - weeks << "Fourth" if @event.week_4
      - weeks << "Last" if @event.week_5
      = weeks.to_sentence
    - weekdays = []
    - weekdays << "Sundays" if @event.sunday
    - weekdays << "Mondays" if @event.monday
    - weekdays << "Tuesdays" if @event.tuesday
    - weekdays << "Wednesdays" if @event.wednesday
    - weekdays << "Thursdays" if @event.thursday
    - weekdays << "Fridays" if @event.friday
    - weekdays << "Saturdays" if @event.saturday
    = weekdays.to_sentence
    = #@event.repeat_start_date.strftime("%As, ")
    - if !@event.repeat_start_time_string.blank?
      %span.event-time
        from 
        %span.event-start-time= Time.parse(@event.repeat_start_time_string).strftime("%I:%M %p")
        %span.event-between-times== to 
        %span.event-end-time= Time.parse(@event.repeat_end_time_string).strftime("%I:%M %p")
    .repeat-dates
      - if @event.display_repeat_start_date && @event.display_repeat_end_date
        Between 
      - elsif @event.display_repeat_start_date
        Beginning
      = @event.repeat_start_date.strftime("%B %d, %Y ") if @event.display_repeat_start_date 
      - if @event.display_repeat_start_date && @event.display_repeat_end_date
        and 
      - elsif @event.display_repeat_end_date
        Until
      = @event.repeat_end_date.strftime("%B %d, %Y ") if @event.display_repeat_end_date 
  - elsif !@event.start_date.blank?
    = @event.start_date.strftime("%A, %B %d, %Y")
    - if !@event.start_time.blank?
      = @event.start_time.strftime(" <span class='event-time'>at %I:%M %p</span>")
    - if !@event.end_date.blank?
      - if @event.start_date != @event.end_date
        == to #{@event.end_date.strftime("%A, %B %d, %Y")}
      - if !@event.end_time.blank?
        = @event.end_time.strftime(" <span class='event-time'>at %I:%M %p</span>")
  - else
    - if @event.created_at.in_time_zone(@time_zone).dst? and !@event.date_and_time.in_time_zone(@time_zone).dst?
      = (@event.date_and_time.in_time_zone(@time_zone) + 1.hour).strftime("%A, %B %d, %Y <span class='event-time'>at %I:%M %p</span>")
    - elsif !@event.created_at.in_time_zone(@time_zone).dst? and @event.date_and_time.in_time_zone(@time_zone).dst?
      = (@event.date_and_time.in_time_zone(@time_zone) - 1.hour).strftime("%A, %B %d, %Y <span class='event-time'>at %I:%M %p</span>")
    - else
      = (@event.date_and_time.in_time_zone(@time_zone)).strftime("%A, %B %d, %Y <span class='event-time'>at %I:%M %p</span>")
    
    -if @event.end_date_and_time
      - if @event.created_at.in_time_zone(@time_zone).dst? and !@event.date_and_time.in_time_zone(@time_zone).dst?
        -if @event.end_date_and_time.in_time_zone(@time_zone).day == @event.date_and_time.in_time_zone(@time_zone).day
          = (@event.end_date_and_time.in_time_zone(@time_zone) + 1.hour).strftime("<span class='event-time'>&mdash; %I:%M %p</span>")
        -else
          &mdash;
          %br
          = (@event.end_date_and_time.in_time_zone(@time_zone) + 1.hour).strftime("%A, %B %d, %Y <span class='event-time'>at %I:%M %p</span>")
      - elsif !@event.created_at.in_time_zone(@time_zone).dst? and @event.date_and_time.in_time_zone(@time_zone).dst?
        -if @event.end_date_and_time.in_time_zone(@time_zone).day == @event.date_and_time.in_time_zone(@time_zone).day
          = (@event.end_date_and_time.in_time_zone(@time_zone) - 1.hour).strftime("<span class='event-time'>&mdash; %I:%M %p</span>")
        -else
          &mdash;
          %br
          = (@event.end_date_and_time.in_time_zone(@time_zone) - 1.hour).strftime("%A, %B %d, %Y <span class='event-time'>at %I:%M %p</span>")
      - else
        -if @event.end_date_and_time.in_time_zone(@time_zone).day == @event.date_and_time.in_time_zone(@time_zone).day
          = (@event.end_date_and_time.in_time_zone(@time_zone)).strftime("<span class='event-time'>&mdash; %I:%M %p</span>")
        -else
          &mdash;
          %br
          = (@event.end_date_and_time.in_time_zone(@time_zone)).strftime("%A, %B %d, %Y <span class='event-time'>at %I:%M %p</span>")



      
