.event-date-time
  - if @event.repeat
    = @event.repeat_start_date.strftime("%As, ")
    - if !@event.repeat_start_time_string.blank?
      %span.event-time
        %span.event-start-time= Time.parse(@event.repeat_start_time_string).strftime("%I:%M %p")
        %span.event-between-times== to 
        %span.event-end-time= Time.parse(@event.repeat_end_time_string).strftime("%I:%M %p")
    .repeat-dates
      Between 
      = @event.repeat_start_date.strftime("%B %d, %Y ")
      and 
      = @event.repeat_end_date.strftime("%B %d, %Y ")
  - else
    = @event.date_and_time.in_time_zone(@time_zone).strftime("%A, %B %d, %Y <span class='event-time'>at %I:%M %p</span>")
    -if @event.end_date_and_time
      -if @event.end_date_and_time.in_time_zone(@time_zone).day == @event.date_and_time.in_time_zone(@time_zone).day
        = @event.end_date_and_time.in_time_zone(@time_zone).strftime("<span class='event-time'>&mdash; %I:%M %p</span>")
      -else
        &mdash;
        %br
        = @event.end_date_and_time.in_time_zone(@time_zone).strftime("%A, %B %d, %Y <span class='event-time'>at %I:%M %p</span>")
    - if @cms_config['site_settings']['add_to_calendar']
      .clear
      ==<div title="Add to Calendar" class="addeventatc">Add to Calendar <span class="start">#{@event.date_and_time.in_time_zone("Pacific Time (US & Canada)").strftime('%m/%d/%Y %I:%M %p')}</span> <span class="end">#{@event.end_date_and_time.in_time_zone("Pacific Time (US & Canada)").strftime('%m/%d/%Y %I:%M %p')}</span> <span class="timezone">America/Los_Angeles </span> <span class="title">#{@event.title}</span> <span class="description">#{@event.description}</span> <span class="location">#{@event.address}</span></div>