.event-date-time
  - if @event.repeat
    = @event.repeat_start_date.strftime("%As, ")
    - if !@event.repeat_start_time_string.blank?
      %span.event-time
        %span.event-start-time= Time.parse(@event.repeat_start_time_string).strftime("%I:%M %p")
        %span.event-between-times== to 
        %span.event-end-time= Time.parse(@event.repeat_end_time_string).strftime("%I:%M %p")
    .repeat-dates
      Between 
      = @event.repeat_start_date.strftime("%B %d, %Y ")
      and 
      = @event.repeat_end_date.strftime("%B %d, %Y ")
  - else
    = @event.date_and_time.in_time_zone(@time_zone).strftime("%A, %B %d, %Y <span class='event-time'>at %I:%M %p</span>")
    -if @event.end_date_and_time
      -if @event.end_date_and_time.in_time_zone(@time_zone).day == @event.in_time_zone(@time_zone).date_and_time.day
        = @event.end_date_and_time.in_time_zone(@time_zone).strftime("<span class='event-time'>&mdash; %I:%M %p</span>")
      -else
        &mdash;
        %br
        = @event.end_date_and_time.in_time_zone(@time_zone).strftime("%A, %B %d, %Y <span class='event-time'>at %I:%M %p</span>")
