- accs = section.event_categories
- categories = []
- for category in accs
  - categories << category.id
- count = section.count
- count = ColumnSectionType.find_by_partial_name("events_for_side_column").default_count if count.blank?
- ops = "person_id = #{@page.author_id}" if @page.author_id
- if @cms_config['features']['recurring_events'] and section.show_all_categories == true and !section.section_format == "panels"
  - #unless events.blank?
  %div
    - if section.section_format == "full"
      %h2= section.title
      %ul.events
        - i = 0
        - date = Date.new(Time.now.year.to_i, Time.now.month.to_i, Time.now.day)
        - (date..Date.new(date.year, date.month, date.end_of_month.day)).each do |date|
          - wday_count = ((date.day - 1) / 7).round + 1
          - events = Event.all(:conditions => ["(date_and_time >= ? and date_and_time <= ? and events.repeat = ? and active = ?) or   (repeat_start_date <= ? and repeat_end_date >= ? and events.repeat = ? and #{day_of_the_week(date.wday)} = ? and repeat_frequency = ? and active = ?) or   (repeat_start_date <= ? and repeat_end_date >= ? and events.repeat = ? and #{day_of_the_week(date.wday)} = ? and repeat_frequency = ? and week_#{wday_count} = ? and active = ?)", date.beginning_of_day, date.end_of_day, false, true, date, date, true, true, "Weekly", true, date, date, true, true, "Select Weeks", true, true])
          - for event in events
            %li[event]
              %div.event_date
                - if event.repeat
                  - if event.repeat
                    %span.month== #{date.in_time_zone(@time_zone).strftime('%b')}
                    %span.date== #{date.in_time_zone(@time_zone).strftime('%d')}
                    %span.day== #{date.in_time_zone(@time_zone).strftime('%a')}
                - elsif !event.start_date.blank?
                  %span.month== #{event.start_date.strftime('%b')}
                  %span.date== #{event.start_date.strftime('%d')}
                  %span.day== #{event.start_date.strftime('%a')}
                - else
                  %span.month== #{event.date_and_time.in_time_zone(@time_zone).strftime('%b')}
                  %span.date== #{event.date_and_time.in_time_zone(@time_zone).strftime('%d')}
                  %span.day== #{event.date_and_time.in_time_zone(@time_zone).strftime('%a')}
              .event_description
                %h3
                  = link_to h(event.name), event
                - if @cms_config['features']['event_registration']
                  - if event.registration? and event.date_and_time >= Date.tomorrow.to_time
                    -# if event.registration_spots?
                    -#%span.event_tag.event_tag_open registration open
                    -#- else
                    -#%span.event_tag.event_tag_full registration full
                - if !event.images.empty?
                  - image = event.images.first
                  - if event.importance == "Medium"
                    %div{:class => "images float-right"}
                      = link_to(tag(:img, :src => image.thumbnail, :alt => image.image_title, :title => image.image_title), image.image.url, :title => image.image_title, :class => "fancy")
                      - unless image.caption.blank?
                        .image-caption= image.caption
                  - elsif event.importance == "Large"
                    .large-image{:id => "image_#{image.id}"}
                      = tag(:img, :src => "#{image.image(:slide)}", :class => "large_image", :alt => image.image_title, :title => image.image_title)
                    - if !image.caption.blank?
                      %span.caption= image.caption
                .event_blurb= event.blurb
                - i += 1
              .event_clear
            - break if i >= count
          - break if i >= count
    - else
      %h2= section.title
      %ul.recent_events.list_of_links
        - i = 0
        - date = DateTime.new(Time.now.year.to_i, Time.now.month.to_i, Time.now.day).in_time_zone(@time_zone)
        - (date..Date.new(date.year, date.month, date.end_of_month.day)).each do |date|
          - wday_count = ((date.day - 1) / 7).round + 1
          - events = Event.all(:conditions => ["(date_and_time >= ? and date_and_time <= ? and events.repeat = ? and active = ?) or   (repeat_start_date <= ? and repeat_end_date >= ? and events.repeat = ? and #{day_of_the_week(date.wday)} = ? and repeat_frequency = ? and active = ?) or   (repeat_start_date <= ? and repeat_end_date >= ? and events.repeat = ? and #{day_of_the_week(date.wday)} = ? and repeat_frequency = ? and week_#{wday_count} = ? and active = ?)", date.beginning_of_day, date.end_of_day, false, true,     date, date, true, true, "Weekly", true,     date, date, true, true, "Select Weeks", true, true])
          - for event in events
            %li
              %h3= link_to event.name, event_path(event)
              - if @cms_config['site_settings']['show_event_location']
                %address= event.address
              %span.date
                - if event.repeat?
                  - weeks = []
                  - if event.week_1 || event.week_2 || event.week_3 || event.week_4 || event.week_5
                    - weeks << "First" if event.week_1
                    - weeks << "Second" if event.week_2
                    - weeks << "Third" if event.week_3
                    - weeks << "Fourth" if event.week_4
                    - weeks << "Last" if event.week_5
                    = weeks.to_sentence
                  - weekdays = []
                  - weekdays << "Sundays" if event.sunday
                  - weekdays << "Mondays" if event.monday
                  - weekdays << "Tuesdays" if event.tuesday
                  - weekdays << "Wednesdays" if event.wednesday
                  - weekdays << "Thursdays" if event.thursday
                  - weekdays << "Fridays" if event.friday
                  - weekdays << "Saturdays" if event.saturday
                  = weekdays.to_sentence
                - else
                  = event.start_date.strftime("%a, %B %d, %Y")
              - if section.show_blurb
                = event.blurb
            - i += 1
            - break if i == count
          - break if i == count
- else
  - if section.show_all_categories == true
    - events = Event.not_yet_complete[0..(count - 1)]
  - else
    - events = Event.not_yet_complete.uniq.reject{|a| !(a.event_category_ids.any? {|ac| categories.include?(ac)})}[0..count-1]
  - unless events.blank?
    %div
      - if section.section_format == "panels"
        - i = 0
        #event-panels
          - for event in events.sort_by(&:date_and_time)
            - i = i + 1
            %a{:id => "panel-#{i}", :class => "panel", :href => event_path(event)}
              .panel-inner
                .text
                  %h2= event.name
                  .datetime
                    - if event.start_date and event.start_date < DateTime.now - 8.hours and !event.repeat?
                      %span.day= event.start_date.strftime("%a")
                      %span.month= event.start_date.strftime("%b")
                      %span.date= event.start_date.strftime("%e")
                      at
                      %span.time= event.start_time.strftime("%I:%M %p")
                      -#Ongoing until 
                      -#%span.day= event.end_date.strftime("%a")
                      -#%span.month= event.end_date.strftime("%b")
                      -#%span.date= event.end_date.strftime("%e")
                      -#at
                      -#%span.time= event.end_time.strftime("%I:%M %p")
                    - elsif event.repeat?
                      - weeks = []
                      - if event.week_1 || event.week_2 || event.week_3 || event.week_4 || event.week_5
                        - weeks << "First" if event.week_1
                        - weeks << "Second" if event.week_2
                        - weeks << "Third" if event.week_3
                        - weeks << "Fourth" if event.week_4
                        - weeks << "Last" if event.week_5
                        = weeks.to_sentence
                      - weekdays = []
                      - weekdays << "Sundays" if event.sunday
                      - weekdays << "Mondays" if event.monday
                      - weekdays << "Tuesdays" if event.tuesday
                      - weekdays << "Wednesdays" if event.wednesday
                      - weekdays << "Thursdays" if event.thursday
                      - weekdays << "Fridays" if event.friday
                      - weekdays << "Saturdays" if event.saturday
                      = weekdays.to_sentence
                      at 
                      = Time.parse(event.repeat_start_time_string).strftime("%I:%M %p")
                    - elsif !event.start_date.blank?
                      %span.day= event.start_date.strftime("%a")
                      %span.month= event.start_date.strftime("%b")
                      %span.date= event.start_date.strftime("%e")
                      - if !event.start_time.blank?
                        at
                        %span.time= event.start_time.strftime("%I:%M %p")
                    - else
                      %span.day= event.date_and_time.in_time_zone(@time_zone).strftime("%a")
                      %span.month= event.date_and_time.in_time_zone(@time_zone).strftime("%b")
                      %span.date= event.date_and_time.in_time_zone(@time_zone).strftime("%e")
                      at
                      %span.time= event.date_and_time.in_time_zone(@time_zone).strftime("%I:%M %p")                     
                - if event.images.size > 0
                  = image_tag(event.images.first.image(:original), :alt => event.name, :title => event.name)
          = clear
      - elsif section.section_format == "full"
        %h2= section.title
        %ul.events
          - for event in events.sort_by(&:date_and_time)
            %li[event]
              %div.event_date
                - if !event.start_date.blank?
                  %span.day= event.start_date.strftime("%a")
                  %span.month= event.start_date.strftime("%b")
                  %span.date= event.start_date.strftime("%e")
                - else
                  %span.day= event.date_and_time.in_time_zone(@time_zone).strftime("%a")
                  %span.month= event.date_and_time.in_time_zone(@time_zone).strftime("%b")
                  %span.date= event.date_and_time.in_time_zone(@time_zone).strftime("%e")
              .event_description
                %h3
                  = link_to h(event.name), event
                - if @cms_config['features']['event_registration']
                  - if event.registration? and event.date_and_time >= Date.tomorrow.to_time
                    -# if event.registration_spots?
                    -#%span.event_tag.event_tag_open registration open
                    -#- else
                    -#%span.event_tag.event_tag_full registration full
                - if !event.images.empty?
                  - image = event.images.first
                  - if event.importance == "Medium"
                    %div{:class => "images float-right"}
                      = link_to(tag(:img, :src => image.thumbnail, :alt => image.image_title, :title => image.image_title), image.image.url, :title => image.image_title, :class => "fancy")
                      - unless image.caption.blank?
                        .image-caption= image.caption
                  - elsif event.importance == "Large"
                    .large-image{:id => "image_#{image.id}"}
                      = tag(:img, :src => "#{image.image(:slide)}", :class => "large_image", :alt => image.image_title, :title => image.image_title)
                .event_blurb= event.blurb
              .event_clear

      - else
        %h2= section.title
        %ul.recent_events.list_of_links
          - for event in events
            %li
              %h3= link_to event.name, event_path(event)
              - if @cms_config['site_settings']['show_event_location']
                %address= event.address
              %span.date
                - if event.repeat?
                  - weeks = []
                  - if event.week_1 || event.week_2 || event.week_3 || event.week_4 || event.week_5
                    - weeks << "First" if event.week_1
                    - weeks << "Second" if event.week_2
                    - weeks << "Third" if event.week_3
                    - weeks << "Fourth" if event.week_4
                    - weeks << "Last" if event.week_5
                    = weeks.to_sentence
                  - weekdays = []
                  - weekdays << "Sundays" if event.sunday
                  - weekdays << "Mondays" if event.monday
                  - weekdays << "Tuesdays" if event.tuesday
                  - weekdays << "Wednesdays" if event.wednesday
                  - weekdays << "Thursdays" if event.thursday
                  - weekdays << "Fridays" if event.friday
                  - weekdays << "Saturdays" if event.saturday
                  = weekdays.to_sentence
                - else
                  - if !event.start_date.blank?
                    = event.start_date.strftime("%a, %B %d, %Y")
                  - else
                    = event.date_and_time.in_time_zone(@time_zone).strftime("%a, %B %d, %Y")
              - if section.show_blurb
                = event.blurb