- accs = section.event_categories
- categories = []
- for category in accs
  - categories << category.id
- count = section.count
- count = ColumnSectionType.find_by_partial_name("events_for_side_column").default_count if count.blank?
- ops = "person_id = #{@page.author_id}" if @page.author_id
- if section.show_all_categories == true
  - events = Event.not_yet_complete[0..(count - 1)]
- else
  - events = Event.not_yet_complete.reject{|a| !(a.event_category_ids.any? {|ac| categories.include?(ac)})}[0..count-1]
- unless events.blank?
  - if section.section_format == "panels"
    - i = 0
    #event-panels
      - for event in events
        - i = i + 1
        %a{:id => "panel-#{i}", :class => "panel", :href => event_path(event)}
          .panel-inner
            .text
              %h2= event.name
              .datetime
                %span.day= event.date_and_time.in_time_zone("Pacific Time (US & Canada)").strftime("%a")
                %span.month= event.date_and_time.in_time_zone("Pacific Time (US & Canada)").strftime("%B")
                %span.date= event.date_and_time.in_time_zone("Pacific Time (US & Canada)").strftime("%e")
                at
                %span.time= event.date_and_time.in_time_zone("Pacific Time (US & Canada)").strftime("%I:%M %p")
            - if event.images.size > 0
              = image_tag(event.images.first.image(:original), :alt => event.name, :title => event.name)
  - else
    .slice.side-column-section{:id => "section-#{section.id}"}
      %h2= title
      %ul.recent_events.list_of_links
        - for event in events
          %li
            %h3= link_to event.name, event_path(event)
            - if @cms_config['site_settings']['show_event_location']
              = event.address
            %span.date= event.date_and_time.in_time_zone("Pacific Time (US & Canada)").strftime("%a, %B %d, %Y")
            - if show_blurb
              = simple_format(truncate(event.blurb, :length => 100))
