- accs = section.event_categories
- categories = []
- for category in accs
  - categories << category.id
- count = section.count
- count = ColumnSectionType.find_by_partial_name("events_for_side_column").default_count if count.blank?
- ops = "person_id = #{@page.author_id}" if @page.author_id
- if section.show_all_categories == true
  - events = Event.not_yet_complete[0..(count - 1)]
- else
  - events = Event.not_yet_complete.reject{|a| !(a.event_category_ids.any? {|ac| categories.include?(ac)})}[0..count-1]
- unless events.blank?
  .slice.main-column-section{:id => "section-#{section.id}"}
    - if section.section_format == "full"
      %ul.events{:id => "section-#{section.id}"}
        - for event in events.sort_by(&:date_and_time)
          %li[event]
            %div.event_date
              %span.month== #{event.date_and_time.strftime('%b')}
              %span.date== #{event.date_and_time.strftime('%d')}
              %span.day== #{event.date_and_time.strftime('%a')}
            .event_description
              %h3
                = link_to h(event.name), event
                - if event.today? # before midnight
                  %span.event_tag.event_tag_soon today!
                - elsif event.tomorrow?
                  %span.event_tag.event_tag_soon tomorrow
                - elsif event.this_week?
                  %span.event_tag.event_tag_this_week this week
              - if @cms_config['features']['event_registration']
                - if event.registration? and event.date_and_time >= Date.tomorrow.to_time
                  -# if event.registration_spots?
                  -#%span.event_tag.event_tag_open registration open
                  -#- else
                  -#%span.event_tag.event_tag_full registration full
              .event_blurb= simple_format(truncate(event.blurb.strip, 200))

    - else
      %h2= section.title
      %ul.recent_events.list_of_links
        - for event in events
          %li
            %h3= link_to event.name, event_path(event)
            - if @cms_config['site_settings']['show_event_location']
              %address= event.address
            %span.date= event.date_and_time.strftime("%a, %B %d, %Y")
            - if section.show_blurb
              = simple_format(truncate(event.blurb, :length => 100))
