- content_for :head do
  <!-- AddThisEvent -->
  <script type="text/javascript" src="https://js.addthisevent.com/atemay.js"></script>
  - if @event.start_date && @event.start_time && @event.end_date && @event.end_time
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Event",
    =="name": "#{@event.title}",
    =="startDate": "#{@event.start_date.strftime("%Y-%m-%d")}T#{@event.start_time.strftime("%H:%M")}",
    =="endDate": "#{@event.end_date.strftime("%Y-%m-%d")}T#{@event.end_time.strftime("%H:%M")}",
    "location": {
    "@type": "Place",
    "name": "",
    =="address": "#{@event.address}"
    },
    "image": [
    - if @event.images.size > 0
      == "#{@event.images.first.image.url}"
    ],
    =="description": "#{@event.meta_description.gsub('"', '\"')}",
    "offers": {},
    "performer": {}
    }
    </script>
- if !@event.description.include?('<p>') and !@event.description.include?('<div>') 
  - @event.description = simple_format(@event.description)
- content_for :meta_title do
  = @event.name
- content_for(:meta_description) { concat h(@event.meta_description.strip) }

- if !@cms_config['site_settings']['enable_responsive_layouts']
  - content_for :side_column do
    .event-side-column

      / Registration link
    - if @event.future_date? and @event.registration? && !@event.is_closed?
      .side-column-section
        %h2 Registration
        - if !@event.event_price_options.empty?
          - if @event.event_price_options.size > 1
            %h3 Pricing Options
          %table#price_options
            %th title
            %th description
            %th price
            -for price_option in @price_options
              %tr
                %td.title= price_option.title
                %td.description= price_option.description
                %td.price= number_to_currency(price_option.price)
    
        You may pay by:
        = @event.allowed_payment_methods
        %h3.register= link_to "Register Now &gt;", new_event_event_registration_group_path(@event)

    / Map and address
    - unless @event.address.blank?
      .side-column-section
        %h2 Location
        - content_for :head do
          = render :partial => "/shared/google_maps_includes"
        %div= h @event.address
        ==<iframe id="google_map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q= #{URI.encode(@event.address.strip)}&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe>
        %div= link_to "View larger map", "http://maps.google.com?q=#{u @event.address}"


  - if !@event.event_category.blank? and !@event.event_category.column.blank?
    - @side_column_sections = @event.event_category.column.column_sections
    = render :partial => "shared/side_column"
  - else
    - content_for :side_column do
      - unless @event.registration? or @latest_events.empty?
        .side-column-section
          %h2== Additional #{@cms_config['site_settings']['event_title'].pluralize}
          = render :partial => @latest_events
    
  %h1= yield(:meta_title).strip
  -if @event.future_date?
    = soon_indicator(@event.date_and_time, '', true) 
  .event-date-time
    = @event.date_and_time.strftime("%A, %B %d, %Y at %I:%M %p")
    -if @event.end_date_and_time
      -if @event.end_date_and_time.day == @event.date_and_time.day
        = @event.end_date_and_time.strftime("&mdash; %I:%M %p")
      -else
        &mdash;
        %br
        = @event.end_date_and_time.strftime("%A, %B %d, %Y at %I:%M %p")

  = ninja_parse(@event.description)
- else
  = render :partial => "shared/slice", :locals => {:column_section_id => nil, :controller => "events", :action => "show"}, :collection => @main_column_sections