- content_for :meta_title do
Registration complete for
= @event.name
- end
%h1
  Registration Completed!
%p
  You and your guests will soon receive email confirmations of your registration.
  Please make sure to check your bulk and/or spam folders in case the message is
  flagged as spam by your email provider.
%p
  Please print this page for your records and as proof of your registration.
%h1
  Guest List
- total = 0.0
%table{ :cellspacing => "0" }
  %tr
    %th
      Name
    %th
      Type
    %th
      Price
  - for c in @registration_contacts
  - total += c.event_price.price
  <tr
  = cycle(' class="row1"', '')
  >
  %td
    = c.contact.name
  %td
    = h c.event_price.description
  %td
    = display_event_price(c.event_price.price)
  - end
  %tr
    %td.big{ :colspan => "3" }
      Total:
      = number_to_currency(total)
%h1
  Payment
- if @registration.cash
%p.note-box
  You will pay for your registration in cash at the event.
- elsif @registration.check
%p.note-box
  = h(@event.check_instructions).gsub(/\n/, '<br/>')
- else # credit card
- if @registration.paid
%p.note-box
  You have successfully paid
  = number_to_currency(@total)
  for your registration.
- else # not paid!
- if total == 0
%p.note-box
  Your event registration is free, so no payment was required.
- else # not paid
%p{ :style => "color: red; font-weight: bold;" }
  You have not yet paid for your registration.
  = link_to "Click here to pay now!", "/events/pay/#{@registration.id.to_s}"
- end
- end # paid?
- end
