- content_for :meta_title do
  Register for
  = @event.name
-unless @event.is_closed?
  %h1 Add a guest?
  - content_for :side_column do
    .side-column-section
      .guest-list
        %h1 Your Guest List
        %table{ :cellspacing => "0" } 
          %th{:colspan => "2"} name
          %th{:colspan => "2"} type
          %th{:colspan => "2"} price
          -if @current_guests
            -for guest in @current_guests
              %tr
                %td{:colspan => "2"}= "%s %s" % [guest.first_name, guest.last_name]
                %td{:colspan => "2"}= guest.event_registrations.last.event_transaction.title
                %td{:colspan => "2"}= number_to_currency(guest.event_registrations.last.event_transaction.total)
        -if @event_group && @event_group.subtotal.to_i > 0
          %p="Total: %s" % number_to_currency(@event_group.subtotal)
    .side-column-section
      .reginstruct
        %h1="How to register"
        Start registration by entering your information in the form to the left.
        You are able to add guests in the next step.
        %span.bold.purple
          Registration takes less than five minutes.
    .side-column-section
      .eventdetails
        %h1="Event Details"
        %h2.small= @event.name
        %p= @event.date_and_time.to_s :long_ordinal
        %div= @event.blurb

  = error_messages_for "event_registration", "person", :header_message => "There were some problems starting your registration.", :message => nil
  - form_for @event_registration, :url => event_event_registration_group_event_registrations_url(@event, @event_group) do |f|
    %table{ :cellspacing => "0" }         
      %tr.top
        -if @event_price_options
          %td{:colspan => 2}
            - unless @event_price_options.reject{|p| p.price.blank?}.empty?
              = f.label :event_price_option_id, "Guest Type"
            = collection_select(:event_registration, :event_price_option_id, @event_price_options, :id, :title_and_price)       
      - fields_for :person do |c|
        %tr
          %td.label
            = c.label :first_name
          %td
            = c.text_field :first_name
        %tr
          %td.label
            = c.label :last_name
          %td
            = c.text_field :last_name
        %tr
          %td.label
            = c.label :email
          %td
            = c.text_field :email
        %tr
          %td.label
            = c.label :phone, "Phone number"
          %td
            = c.text_field :phone, :size => 16, :maxlength => 20
        %tr.top
          %td.label
            = c.label :notes
          %td
            = c.text_area :notes, :size => "50x6"
    %tr
      %td{ :colspan => "2" }
        = submit_tag "Save and Continue", :class => "big"
        or
        = link_to "cancel", event_path(@event.permalink)
  %p#checkout Checkout?
  - if @event_price_options.reject{|p| p.price.blank?}.empty?
    %li= link_to "Complete Registration", event_event_registration_group_path(@event, @event_group)
  -else
    %ul
      -for pay_method in %w(check cash credit-card)
        -if @event.send(("allow_" + pay_method.gsub('credit-', '')).to_sym)
          %li= link_to "Pay by %s" % pay_method, event_event_registration_group_path(@event, @event_group, :params => {:pay_method => pay_method})
-else
  =@event.registration_closed_text