- content_for :meta_title do
  Register for
  = @event.name
%h2 Add a guest
%p Checkout?
%ul
  %li= link_to "Pay by cash at the event", "#"
  %li= link_to "Pay by check", "#"
  %li= link_to "Pay by credit card", "#"
- content_for :side_column do
  .guest-list
    %h2 Your Guest List
    -for guest in @current_guests
      %p= "%s %s" % [guest.first_name, guest.last_name]
    -if @event_group.total.to_i > 0
      %p="Total: %s" % number_to_currency(@event_group.total)

  .reginstruct
    %h2="How to register"
    Start registration by entering your information in the form to the left.
    You are able to add guests in the next step.
    %span.bold.purple
      Registration takes less than five minutes.

  .eventdetails
    %h2="Event Details"
    .big
      %div
        = @event.date_and_time.to_s :long_with_zone


= error_messages_for "event_registration", "person", :header_message => "There were some problems starting your registration.", :message => nil
- form_for @event_registration, :url => event_event_registration_group_event_registrations_url(@event, @event_group) do |f|
  %table{ :cellspacing => "0" }         
    %tr.top
      %td
        = f.label :event_price_option_id, "Type"
        = collection_select(:event_registration, :event_price_option_id, @event_price_options, :id, :title)       
    - fields_for :person do |c|
      %tr
        %td
          = c.label :first_name
        %td
          = c.text_field :first_name
      %tr
        %td
          = c.label :last_name
        %td
          = c.text_field :last_name
      %tr
        %td
          = c.label :email
        %td
          = c.text_field :email
      %tr
        %td
          = c.label :phone, "Phone number"
        %td
          = c.text_field :phone, :size => 16, :maxlength => 20
  %tr.top
    %td
      = f.label :comments
    %td
      = f.text_area :comments, :size => "50x6"
  %tr
    %td{ :colspan => "2" }
      = submit_tag "Save and Continue &gt;", :class => "big"
      or
      = link_to "cancel", event_path(@event.permalink)

