- total = 0.0
- content_for :meta_title do
Registration payment for
= @event.name
- end
- content_for :side_column do
- box "My Guest List" do
%table.full-width{ :cellspacing => "0" }
  %tbody
    - for c in @registration_contacts
    - total += c.event_price.price
    %tr{ :id => dom_id c }
      %td
        = h c.contact.name.titleize
      %td
        = h c.event_price.description.titleize
      %td
        = display_event_price(c.event_price.price)
    - end
  %tfoot
    %tr
      %td.big{ :colspan => "3" }
        Total:
        = number_to_currency(total)
    %tr
      %td{ :colspan => "3" }
        = link_to "Edit your guest list", event_registration_registration_contacts_path(@event, @registration)
- end # box
- end
%h1
  = yield :meta_title
- if @pay_by == "cash"
%p
  You will pay for your registration in cash at the event. Simply click the button below to complete your registration.
%div
  = link_to "Complete Registration &gt;", complete_event_registration_path(@event, @registration) + "?by=cash", :class => "big"
- elsif @pay_by == "check"
= simple_format(auto_link(h(@event.check_instructions)))
%div
  = link_to "Complete Registration &gt;", complete_event_registration_path(@event, @registration) + "?by=check", :class => "big"
- else # credit card
- if @registration.created_at >= 30.minutes.ago
%p.big.purple
  Please pay within the next
  = time_ago_in_words(@registration.created_at + 30.minutes)
  ,
  or your registration may be forfeit to another person.
- end
= render :partial => "paypal", :locals => { :total => total, :event => @event, :registration => @registration }
- end
