%h1= large_icon('Clock') + ' ' + 'Registrations for %s' % @event.name
%p= link_to "Get a CSV of the event roster", admin_event_event_registration_groups_path(@event, :format => :csv)
%h2 Registration Groups
%table.full_width{ :cellspacing => "0" }
  %thead
    %tr
      %th Title
      %th Number of Registrations
      %th Total
      %th.center Paid
  %tbody
    - for group in @groups
      %tr{ :class => cycle('odd', 'even') }
        %td.gray= group.title.gsub(/'s Group.*/, "'s Group")
        %td= group.event_registrations.count
        %td= number_to_currency(group.total_price)
        %td
          -unless group.paid
            %span[group]= unpaid_icon(group, admin_event_event_registration_group_path(@event, group), group.title, "visible")
          -else
            %span[group]= paid_icon(group, admin_event_event_registration_group_path(@event, group), group.title, "visible")
%br
%h1= "Full Roster for %s" % @event.name
%table.full_width{:cellspacing => "O"}
  %thead
    %tr
      %th Last Name
      %th First Name
      %th Email
      %th Paid
  %tbody
    - for person in @people
      %tr
        %td=link_to person.last_name, edit_admin_person_url(person)
        %td=link_to person.first_name, edit_admin_person_url(person)
        %td=person.email
        %td=person.registration_group_for(@event).is_paid?
    