- total = 0.0
- content_for :meta_title do
Register for
= @event.name
- end
- content_for :side_column do
- if @registration_contacts
- box "Guest List" do
%table.full-width{ :cellspacing => "0" }
  %tbody
    - for c in @registration_contacts
    - total += c.event_price.price
    %tr{ :id => dom_id c }
      %td
        = h c.contact.name.titleize
      %td
        = h c.event_price.description.titleize
      %td
        = display_event_price(c.event_price.price)
      %td
        = link_to image_tag("icons/16x16/Trash.png", :class => "icon"), event_registration_registration_contact_path(@event, @registration, c), :class => "icon", :title => "Remove #{c.contact.first_name.titleize}", :confirm => "Really remove #{c.contact.first_name.titleize} from your guest list?", :method => :delete unless c.owner
    - end
  %tfoot
    %tr
      %td.big{ :colspan => "3" }
        Total:
        = number_to_currency(total)
- end # box
- end
- if @event.registration_spots?
- box "How to add guests" do
If you'd like to add guests to your registration, you may do so using the form on the left. If not, simply choose your payment method to continue.
- end
- else
- box "Note about guests" do
%div
  You cannot register guests for because the event is full. You may still complete your registration.
- end
- end
- end # sidebar
%h1
  = h @event.name
%p.big.purple
  Choose your payment method to continue.
.note-box.bold
  - if total > 0 # show payment choices
  - if @event.allow_card?
  .big.purple
    = link_to "Use your credit card with PayPal &gt;", pay_event_registration_path(@event, @registration)
  - end
  - if @event.allow_cash?
  .big.purple
    = link_to "Bring cash to the event &gt;", pay_event_registration_path(@event, @registration) + "?by=cash"
  - end
  - if @event.allow_check?
  .big.purple
    = link_to "Write a check (instructions on following page) &gt;", pay_event_registration_path(@event, @registration) + "?by=check"
  - end
  - else # registration is free
  = icon "Arrow2 Right"
  = link_to "Complete Registration &gt;", complete_event_registration_path(@event, @registration)
  - end
- if @event.registration_spots?
%br
%h2
  Want to add guests?
= error_messages_for "registration_contact", "contact", :header_message => "Unable to add your guest.", :message => nil
- form_for :registration_contact, event_registration_registration_contacts_path(@event, @registration) do |f|
%table{ :cellspacing => "0" }
  - fields_for :event_price do |p|
  %tr.top
    %td
      = p.label :id, "Type"
    %td
      - for event_price in @event_prices
      = p.radio_button :id, event_price.id
      %label{ :for => "event_price_id_#{event_price.id}" }
        = h event_price.description
        \&mdash;
        = display_event_price(event_price.price)
      %br
      - end
  - end # event price fields
  - fields_for :contact do |c|
  %tr
    %td
      = c.label :first_name
    %td
      = c.text_field :first_name
  %tr
    %td
      = c.label :last_name
    %td
      = c.text_field :last_name
  %tr.top
    %td
      = c.label :email
    %td
      = c.text_field :email
      %br
      %span.small.gray
        Enter your own email address if you do not know your guest's.
  - end # contact fields
  %tr
    %td{ :colspan => "2" }
      = f.submit "Add Guest", :class => "big"
- end # form
- end # registration is full

