%h1= "Price Options for %s" % @event.name
%p
  = icon "Plus", new_admin_event_event_price_option_path(@event)
  = link_to "Add a new price option", new_admin_event_event_price_option_path(@event)
%p
  = icon "Write", admin_event_path(@event)
  = link_to "Edit this event", admin_event_path(@event)
%div.current-options
  %h2 Current Price Options
  %table{ :cellspacing => "0" } 
    %th{:colspan => "2"} Title
    %th{:colspan => "2"} Description
    %th{:colspan => "2"} Price
    %th Edit
    %th Delete
    -for event_price_option in @prices
      %tr[event_price_option]
        %td{:colspan => "2"}= event_price_option.title
        %td{:colspan => "2"}= event_price_option.description
        %td{:colspan => "2"}= number_to_currency(event_price_option.price)
        %td= icon "Write", edit_admin_event_event_price_option_path(@event, event_price_option), '', "#{icons_loc}/", '16x16', 'gray', "Edit"
        %td= trash_icon(event_price_option, admin_event_event_price_option_path(@event, event_price_option), "Delete #{event_price_option.title}")      
        