%h1= "Price Options for %s" % @event.name
%p
  = icon "Plus", new_admin_event_event_price_option_path(@event)
  = link_to "Add a new price option", new_admin_event_event_price_option_path(@event)
%div.current-options
  %h2 Current Price Options
  %table{ :cellspacing => "0" } 
    %th{:colspan => "2"} Title
    %th{:colspan => "2"} Description
    %th{:colspan => "2"} Price
    %th Edit
    %th Delete
    -for option in @prices
      %tr[option]
        %td{:colspan => "2"}= option.title
        %td{:colspan => "2"}= option.description
        %td{:colspan => "2"}= number_to_currency(option.price)
        %td= icon "Write", edit_admin_event_event_price_option_path(@event, option), '', "#{icons_loc}/", '16x16', 'gray', "Edit"
        -if option.event_registrations.empty?
          %td= trash_icon(option, admin_event_event_price_option_path(@event, option), "Delete #{option.title}")      
        