- content_for :meta_title do
  = @cms_config['site_settings']['event_title'] + " Categories"

%h1= '<i class="far fa-calendar-alt"></i> ' + yield(:meta_title).strip

%div.box
  %span.hmenu
    = link_to "<i class=\"fas fa-plus-circle\"></i> Make a new category", new_admin_event_category_path
  = clear

%br

%table.full_width{ :cellspacing => "0" }
  %thead
    %tr
      %th Title
      %th{:style=> "width: 60px;"}= @cms_config['site_settings']['event_title'].pluralize
      %th{:style=> "width: 60px;"} Images
      %th{:style=> "width: 100px;"} Options
  %tbody
    - for event_category in @event_categories do
      %tr[event_category]{ :class => cycle('odd','even') }
        %td= link_to h(event_category.title), edit_admin_event_category_path(event_category)
        %td= number_with_delimiter(event_category.events.count)
        %td.lc-images
          = link_to("<i class='fas fa-images'></i>  #{event_category.images_count}", [:admin, event_category, :images])
          = image_tag(event_category.images.sort_by(&:position).first.image.url(:icon), :class => "icon thumb") unless event_category.images.empty?
        %td.center
          - if event_category.menus_count > 0
            = navigation_icon(event_category, event_category.title, "inline")
          - else
            = activate_navigation_icon(event_category, [:new, :admin, event_category, :menu], event_category.title, "inline")
          = link_to("<i class='far fa-edit'></i>", edit_admin_event_category_path(event_category))
          = trash_icon(event_category, admin_event_category_path(event_category), "the #{event_category.title} category")

%br

%p
  %strong Note about deleting categories:
  If you delete a category, events will no longer be assigned to it. They will
  still be able to be viewed, but not browsed by category until they are re-assigned to
  a new category. The
  = link_to "#{@cms_config['site_settings']['event_title']} list", admin_events_path
  will notify you of events that do not have a category assignment.

